<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/" (click)="closeNav()">{{ LABELS.MYKOPIKO | uppercase }}</a>
    <button class="navbar-toggler" type="button" (click)="toggleNav()" [attr.aria-expanded]="isNavOpen"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="isNavOpen">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home" (click)="scrollTo($event, 'home')">{{ LABELS.HOME }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#menu" (click)="scrollTo($event, 'menu')">{{ LABELS.MENU }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-us" (click)="scrollTo($event, 'about-us')">{{ LABELS.ABOUT_US }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact-us" (click)="scrollTo($event, 'contact-us')">{{ LABELS.CONTACT_US
            }}</a>
        </li>
        <li [hidden]="isLoginRoute" class="nav-item">
          <a class="nav-icon-link has-tooltip" href="#" (click)="openCart($event)" data-label="View cart"
            aria-label="View cart">
            <span class="cart-icon-wrapper">
              <img src="/assets/images-2/shopping-cart.png" alt="Shopping Cart" class="nav-icon" />
              @if (cartItemCount() > 0) {
              <span class="cart-badge">{{ cartItemCount() }}</span>
              }
            </span>
            <span class="nav-icon-text">{{ LABELS.VIEW_CART }}
              @if (cartItemCount() > 0) {
              <span class="cart-badge-mobile">({{ cartItemCount() }})</span>
              }
            </span>
          </a>
        </li>
        <li [hidden]="isLoginRoute" class="nav-item">
          <a class="nav-icon-link has-tooltip" routerLink="/order/track" (click)="closeNav()" data-label="Track order"
            aria-label="Track order">
            <img src="/assets/images-2/track.png" alt="Track Order" class="nav-icon" />
            <span class="nav-icon-text">{{ LABELS.TRACK_ORDER | titlecase }}</span>
          </a>
        </li>
        @if (isLoggedIn()) {
        <li class="nav-item desktop-only-logout">
          <div class="user-dropdown-container">
            <a class="nav-icon-link has-tooltip" href="javascript:void(0)" (click)="toggleUserDropdown($event)"
              data-label="Profile" aria-label="Profile">
              <i class="fas fa-user-circle nav-icon"></i>
            </a>
            <div class="user-dropdown-menu" [class.show]="isUserDropdownOpen">
              <button class="dropdown-item" (click)="logout()">{{ LABELS.LOGOUT }}</button>
            </div>
          </div>
        </li>
        }
        @if (isMenuRoute && isLoggedIn()) {
        <li class="nav-item nav-logout-mobile">
          <button type="button" class="nav-link nav-logout-link" (click)="logout()">{{ LABELS.LOGOUT }}</button>
        </li>
        }
        <li class="nav-item menu-separator-mobile"></li>
      </ul>
    </div>
  </div>
</nav>