<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" href="#home" (click)="scrollTo($event,'home')">MYKOPIKO</a>
    <button class="navbar-toggler" type="button" (click)="toggleNav()"
            [attr.aria-expanded]="isNavOpen" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="isNavOpen">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#home" (click)="scrollTo($event,'home')">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#menu" (click)="scrollTo($event,'menu')">Menu</a></li>
        <li class="nav-item"><a class="nav-link" href="#about-us" (click)="scrollTo($event,'about-us')">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact-us" (click)="scrollTo($event,'contact-us')">Contact Us</a></li>
         <li class="nav-item"><a class="nav-icon-link" href="#"><img src="/images-2/shopping-cart.png" alt="Shopping Cart" class="nav-icon"></a></li>
        <li class="nav-item"><a class="nav-icon-link" href="#"><img src="/images-2/track.png" alt="Track Order" class="nav-icon"></a></li>
       
      </ul>
    </div>
  </div>
</nav>
