<footer class="footer">
  <div class="footer-container">
    <div class="footer-col">
      <h3>{{ LABELS.MYKOPIKO | uppercase }}</h3>
    </div>

    <div class="footer-col footer-quick-links">
      <h4>{{ LABELS.QUICK_LINKS | uppercase }}</h4>
      <ul>
        <li>
          <a href="#home" (click)="scrollTo($event, 'home')">{{ LABELS.HOME }}</a>
        </li>
        <li>
          <a href="#menu" (click)="scrollTo($event, 'menu')">{{ LABELS.MENU }}</a>
        </li>
        <li>
          <a href="#about-us" (click)="scrollTo($event, 'about-us')">{{ LABELS.ABOUT_US }}</a>
        </li>
        <li>
          <a href="#contact-us" (click)="scrollTo($event, 'contact-us')">{{ LABELS.CONTACT_US }}</a>
        </li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>{{ LABELS.VISIT_US | uppercase }}</h4>
      <ul>
        <li>{{ LABELS.ADDRESS_CITY }}</li>
        <li>{{ LABELS.HOURS_WEEKDAY }}</li>
        <li>{{ LABELS.HOURS_WEEKEND }}</li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>{{ LABELS.PRIVACY | uppercase }}</h4>
      <ul>
        <li>{{ LABELS.TERMS_OF_USE }}</li>
        <li>{{ LABELS.PRIVACY_POLICY }}</li>
        <li>{{ LABELS.COOKIES }}</li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>{{ LABELS.CALL_US | uppercase }}</h4>
      <ul>
        <li>{{ LABELS.PHONE_1 }}</li>
        <li>{{ LABELS.PHONE_2 }}</li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>{{ LABELS.SOCIAL_MEDIA | uppercase }}</h4>
      <div class="social-icons">
        <a href="https://www.facebook.com/leynandrewww/ " target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/leynandreww/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.tiktok.com/@leynandreww" target="_blank"><i class="fab fa-tiktok"></i></a>
      </div>
    </div>
  </div>
</footer>