/* =========================
   HERO SECTION BACKGROUND
========================= */

.hero-section {
  /* section-wide background */
  width: 100vw;
  min-height: 100vh;
  background-color: #fff8e7;
  margin-left: calc(-50vw + 50%);
  margin-top: 0;
  padding-top: 0;
}

/* =========================
   HERO CONTAINER
========================= */
.hero-container {
  max-width: 1320px;
  margin: auto;
  padding: 0 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  min-height: 80vh;
  align-items: center;
}

/* =========================
   HERO CONTENT
========================= */
.hero-text {
  grid-column: 2 / span 5;
}

.hero-image {
  grid-column: 8 / span 5;
}

/* =========================
   TYPOGRAPHY
========================= */
.main-h1 {
  font-size: 48px;
  color: #241C15;
  font-weight: bold;
}

.main-h2 {
  font-size: 30px;
  color: #241C15;
  font-weight: bold;
}

.main-paragraph {
  margin-top: 12px;
  color: #241c15;
  max-width: 420px;
  font-weight: lighter;
}

/* =========================
   BUTTON
========================= */
.btn-primary {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #3d1c02;
  color: #fff8e7;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* =========================
   IMAGE
========================= */
.main_image {
  width: 100%;
  max-width: 450px;
  height: auto;
  display: block;
  margin-left: auto;
}

/* =========================
   TABLET & MOBILE
========================= */
@media (max-width: 1024px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
    min-height: auto;
    padding: 60px 20px;
  }

  .hero-text,
  .hero-image {
    grid-column: 1;
  }

  .main_image {
    margin: 30px auto 0;
  }

  .main-paragraph {
    margin-left: auto;
    margin-right: auto;
  }
}
