html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF8E7;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body.menu-page .navbar,
body.menu-page .navbar.navbar-light.bg-light {
  background-color: #fdfcf0 !important;
}
