:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Playfair Display', serif;
  --font-tertiary: 'Inter', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff8e7;
  font-family: var(--font-primary);
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body.menu-page .navbar,
body.menu-page .navbar.navbar-light.bg-light {
  background-color: #fdfcf0 !important;
}
