<footer class="footer">
  <div class="footer-container">
    <div class="footer-col">
      <h3>MYKOPIKO</h3>
    </div>

    <div class="footer-col footer-quick-links">
      <h4>QUICK LINKS</h4>
      <ul>
        <li><a href="#home" (click)="scrollTo($event,'home')">Home</a></li>
        <li><a href="#menu" (click)="scrollTo($event,'menu')">Menu</a></li>
        <li><a href="#about-us" (click)="scrollTo($event,'about-us')">About Us</a></li>
        <li><a href="#contact-us" (click)="scrollTo($event,'contact-us')">Contact Us</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>VISIT US</h4>
      <ul>
        <li>Manila Bulacan City</li>
        <li>Mon – Fri 9AM – 10PM</li>
        <li>Sat – Sun 8AM – 6PM</li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>PRIVACY</h4>
      <ul>
        <li>Terms of Use</li>
        <li>Privacy Policy</li>
        <li>Cookies</li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>CALL US</h4>
      <ul>
        <li>123-456-789-10</li>
        <li>097-531-295-19</li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>SOCIAL MEDIA</h4>
      <div class="social-icons">
        <a href="https://www.facebook.com/leynandrewww/ " target="_blank"><i class="fab fa-facebook-f" ></i></a>
        <a href="https://www.instagram.com/leynandreww/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.tiktok.com/@leynandreww" target="_blank"><i class="fab fa-tiktok"></i></a>
      </div>
    </div>
  </div>
</footer>
