<!-- MENU SECTION -->
<section id="menu" class="menu-section">
  <div class="menu-image-header" (mouseenter)="stopAutoSlide()" (mouseleave)="startAutoSlide()">
    <div class="overlay"></div>

    <div class="header-content px-4 py-4">
      <h1>{{ headerSlides[currentHeaderIndex].title }}</h1>
      <p>{{ headerSlides[currentHeaderIndex].subtitle }}</p>
    </div>

    <div class="slider-track" [style.transform]="'translateX(-' + (currentHeaderIndex * 100) + '%)'">
      @for (slide of headerSlides; track $index) {
      <img [src]="slide.image" [class.position-top]="$index === 2" alt="Coffee Shop Ambiance" />
      }
    </div>

    <div class="header-pagination">
      @for (slide of headerSlides; track $index) {
      <span class="dot" [class.active]="currentHeaderIndex === $index" (click)="setCurrentHeader($index)"></span>
      }
    </div>
  </div>

  <app-carousel class="carousel" [title]="LABELS.POPULAR_MENU" [items]="popularMenuItems" [showDownHint]="true"
    [showSeparator]="false" [reveal]="true"></app-carousel>
  <app-carousel [title]="LABELS.FRAPPE_MENU" [items]="frappeMenuItems"></app-carousel>
  <app-carousel [title]="LABELS.ESPRESSO_MENU" [items]="espressoMenuItems"></app-carousel>
  <app-carousel [title]="LABELS.PASTRIES_MENU" [items]="pastriesMenuItems"></app-carousel>
</section>